


@keyframes donut-fill {
	to {
		stroke-dasharray: 0 100;
	}
}

@keyframes text-slideup {
	from {
		opacity: 0;
		transform: translateY(0%);
	}
	to {
		opacity: 1;
		transform: translateY(-50%);
	}
}

.donut {
	width: 200px;
	height: 6.5rem;
	position: relative;
	margin: auto;

	
}

.donut__frame,
.donut__circle {
	stroke-width: 0.125rem;
	fill: none;

	
}

.donut__frame {
	stroke: rgb(169, 249, 252);
	

	
}

.donut__circle {
	stroke:rgb(0, 217, 255);
	stroke-linecap: round;

	
}

.donut__canvas {
	width: 100px;
	height: 100%;
	display: block;
	position: relative;
	z-index: 2;
	margin-left: 230px;
	

	
}

.donut__circle {
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	/* animation: donut-fill 2s reverse; */

	
}

.donut__circle[stroke-dasharray='0 100'] {
	stroke: none;
	
	
}

.donut__text {
	font-family: monospace;
	color: rgb(0, 0, 241);

	font-size: 15px;
	/* background-color: rgb(153, 250, 250); */
	/* border-radius: 100%; */
	/* height:2px;
	width:2px; */
	margin-left: 250px;
	padding: 30px;
  letter-spacing: -0.15rem;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	z-index: 3;
	transform: translateY(-50%);
	background-color: rgb(153, 250, 250); 
	border-radius: 100%; 
	height:3px;
	width:2px;

	/* animation: text-slideup 2s linear; */
}

/* .donut.is--negative .donut__circle {
	transform: rotate(-90deg) scaleY(-1);
} */

